
/*
.table {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-auto-rows: max-content;
}


.table__header, .table__row {
  display: flex;
}

[class$="__column"] {
  flex: 1 1 33%;
  padding: 1rem;
}

.row__column {
  text-align: left;
}

.table__header {
  border-bottom: 1px solid #333333;
}

.table__row:nth-child(2n) {
  background-color: #dddddd;
}

.table__row {
  border-bottom: 1px dashed #333333;
}

*/
/* navigationBar 
.navigation__placeholder, navigation__input {
  margin: 0 0.5rem;
  padding: 0.5rem;
  min-width: 50px;
}

.navigation__current {
  font-weight: 700;
}

.navigation__current, .navigation__text, .navigation__number {
  appearance: none;

  margin: 0 0.5rem;
  padding: 0.5rem;
  min-width: 50px;
  border: 1px solid black;
}
*/